.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px;
  border-style: groove;
  border-radius: 10px;
  border-color: lightblue;
  padding: 10px;
  box-shadow: 5px 5px;
  max-width: 600px;
  min-width: 415px;
}
